@import '../../../styles/colors';
@import '../../../styles/breakpoint';

.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &:hover .popup {
    display: flex;
  }
  
  .avatar {
    background-image: url('https://images.pexels.com/photos/61143/pexels-photo-61143.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    border: 5px solid whitesmoke;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
  }
  
  .full-width {
    width: 100%;
  }
  
  .static-width {
    width: 260px;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .avatar-skeleton {
    border: 5px solid whitesmoke;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    width: 260px;
    height: 265px;
    background-color: whitesmoke;
  }

  .update {
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    display: flex;
    padding: 3px;
    position: absolute;
    right: 0px;
    transition: all 300ms;
    bottom: 20px;
    width: 20%;

    &:hover {
      transform: scale(0.9);
    }
  }

  .popup {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid $light-card;
    width: 110px;
    height: 140px;
    background-color: $light-card;
    border-radius: 8px;
    color: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: -1;
    padding: 5px;

    .player-name {
      font-size: 20px;
    }

    .description {
      list-style-type: none; 
      padding: 0;
      margin: 0;
      font-size: 15px;
      width: 100%;

      .value {
        text-overflow: ellipsis;
      }

      .title {
        font-size: 14px;
      }

      .spacing {
        display: flex;
        justify-content: space-between;
      }
    }

    .actions {
      position: absolute;
      right: -30px;
      top: 0;
    }

  }
}

@media (max-width: $medium-phone) {
  .player {

    .static-width {
      width: 200px;
    }

    .avatar-skeleton {
      width: 200px;
      height: 212px;
    }

    .popup {
      padding: 2px;
      width: 65px;

      .description {
        .title {
          font-size: 10px;  
        }
      }

      .player-name {
        font-size: 10px;
      }
    }
  }
}
