<div class="card">
    <div class="cover">
        <img class="palette" src="../../../assets/icons/color-llens.svg" alt="colors">
    </div>
    <div class="card-content">
        <app-cotejo-player-preview [img]="profile?.player?.image" class="picture" [update]="true"></app-cotejo-player-preview>
        <div class="info">
            <h2 class="name">{{profile?.player?.name}} <span class="rating">{{overall}}</span></h2>
            <img class="setting" (click)="modal()" src="../../../assets/icons/setting.svg" alt="setting">
        </div>

        <div class="stats">
            <app-cotejo-rating class="stat" *ngFor="let rate of rates | keyvalue" [label]="rate.key" [rate]="rate.value"></app-cotejo-rating>
        </div>
    </div>
</div>

<app-cotejo-modal *ngIf="showModal" (actionClose)="modal()">

    <form [formGroup]="player">
        <div class="player-input" *ngFor="let info of infoForm">
            <label class="label">{{info.label}}</label>
            <input class="info-input" [type]="info.type" [formControlName]="info.control" >
        </div>
    </form>

    <form action="" [formGroup]="rating">
        <div class="range-input" *ngFor="let rate of ratingForm">
            <label class="label" [for]="rate.control">{{rate.label}}</label>
            <input class="range" (change)="calculateOverall()" [formControlName]="rate.control" type="range" min="1" max="100" values="50">
            <p>{{ rating.controls[rate.control].value }}</p>
        </div>
        <div class="overall">
            <label for="">Overall</label>
            <input class="value" type="text" formControlName="overall">
        </div>
    </form>

    <app-cotejo-button (click)="saveProfile()" class="save" [label]="'Save'" 
                       [type]="'save'">
    </app-cotejo-button>

</app-cotejo-modal>

<app-cotejo-modal *ngIf="showAvatarModal" (actionClose)="modalAvatar()">
    <div class="preview">
        <app-cotejo-player-preview [img]="profile?.player?.image" class="picture"></app-cotejo-player-preview>
    </div>
    <div class="sections">
        <div class="options" *ngFor="let option of avatarCustomize">
            <div class="head-title" 
                (click)="openSection(option.title)"
                [ngClass]="{'active': openedSection === option.title}">
                <button class="accordion" [ngClass]="{'active': openedSection === option.title}">{{option.title}}</button>
                <img class="down-arrow" [src]="getImage(option.title)" alt="down">
            </div>
            <div *ngIf="openedSection === option.title" class="panel">
                <p>{{option.content}}</p>
            </div>
        </div>
    </div>
    <!-- <app-cotejo-button (click)="updateAvatar()" class="save" [label]="'Save'" 
                       [type]="'save'">
    </app-cotejo-button> -->
</app-cotejo-modal>
