<div class="card">
    <div class="cover">
        <img class="palette" src="../../../assets/icons/color-llens.svg" alt="colors">
    </div>
    <div class="card-content">
        <app-cotejo-player-preview class="picture" [update]="true"></app-cotejo-player-preview>
        <div class="info">
            <h2 class="name">Jhon Doe <span class="rating">78</span></h2>
            <img class="setting" (click)="modal()" src="../../../assets/icons/setting.svg" alt="setting">
        </div>

        <div class="stats">
            <app-cotejo-rating class="stat" *ngFor="let rate of rates | keyvalue" [label]="rate.key" [rate]="rate.value"></app-cotejo-rating>
        </div>
    </div>
</div>

<app-cotejo-modal *ngIf="showModal" (actionClose)="modal()">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nesciunt ducimus voluptatibus laborum cupiditate repellat? Ratione laudantium blanditiis atque ducimus nihil molestiae omnis rem doloribus. Molestias accusantium libero nisi ipsum.
</app-cotejo-modal>
