@import '../../../styles/colors';
@import '../../../styles/breakpoint';

.form {
    background-color: $regular-dark;
    border: 2px solid $regular-dark;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0px;
    padding: 20px 40px 20px 40px;
    width: 400px;

    .input-section {

        display: flex;
        flex-direction: column;

        .label {
            color: $grass-field;
        }

        .input {
            border-radius: 5px;
            margin-top: 8px;
            margin-bottom: 18px;
            padding: 15px;
            
            &:focus {
                outline-color: $grass-field;
            }
        }
        
        .invalid {
            color: red;
        }
    }
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .login-btn {
        width: 140px;
        margin: 20px auto;
        border: none;
        background-color: $grass-field;
        padding: 10px;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        transition: all 300ms;

        &:hover {
            background-color: white;
            color: $grass-field;
        }
    }

    .google-button {
        margin-bottom: 10px;
    }

    .sign-up {
        color: gray;
        text-align: center;
        text-decoration: none;
        
        &:hover {
            color: $grass-field;
        }
    }
}

@media (max-width: $small-tablet) {
    .form {
        width: 300px;
    }
}

@media (max-width: $medium-phone) {
    .form {
        width: 200px;
        margin: 0;
        padding: 20px 30px 20px 30px;
    }
}
