<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <section class="input-section">
        <label class="label">Email</label>
        <input class="input" 
                [ngClass]="{'invalid': loginForm.controls['email'].errors?.email}" 
                type="email" 
                formControlName="email" 
                placeholder="Enter your email...">
    </section>

    <section class="input-section">
        <label class="label">Password</label>
        <input class="input" 
            type="password" 
            formControlName="password" 
            placeholder="Enter your password...">
    </section> 

    <app-alert class="alert" *ngIf="showAlert" 
        [type]="alertType" 
        [message]="alertMessage"
        (closeAction)="close()"
        >
    </app-alert>

    <div class="actions">
        <button class="login-btn" 
                type="submit"
                [disabled]="disableSubmit">
                LOGIN
        </button>
        <a class="sign-up" routerLink="sign-up">Don't have an account? <strong>SignIn</strong></a>
    </div>
</form>
