<form 
    class="form" 
    [formGroup]="loginForm" 
    (ngSubmit)="login()"
>
    <ng-container *ngIf="!isLoading">
        <mat-form-field class="input-section" appearance="outline" color="accent">
            <mat-label class="label">Email</mat-label>
            <input
                matInput 
                class="input"
                type="email" 
                formControlName="email" 
                placeholder="Enter your email...">
        </mat-form-field>
    
        <mat-form-field class="input-section" appearance="outline" color="accent">
            <mat-label class="label">Password</mat-label>
            <input
                matInput  
                class="input" 
                type="password" 
                formControlName="password" 
                placeholder="Enter your password...">
        </mat-form-field> 

        <app-alert 
            *ngIf="showAlert" 
            class="alert" 
            [type]="alertType" 
            [message]="alertMessage"
            (closeAction)="close()"
        >
        </app-alert>
    
        <div class="actions">
            <button 
                class="login-btn" 
                mat-raised-button
                type="submit"
                [disabled]="disableSubmit">
                LOGIN
            </button>
            <a class="sign-up" routerLink="sign-up">Don't have an account? <strong>Sign Up</strong></a>
        </div>
    </ng-container>

    <div
        id="g_id_onload"
        class="google-button"
        data-client_id="756127147061-fqhrqhmm7shfavmjr9n95e3ade8n6qsk.apps.googleusercontent.com">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
</form>

<app-cotejo-loader *ngIf="isLoading"></app-cotejo-loader>
