<div class="container">
    <img class="logo" src="../../../assets/images/football.svg" alt="logo">
    <h2 class="title">Cotejo App</h2>
    <form class="form" action="">
        <input class="email" type="text" placeholder="Enter your email...">
        <input class="password" type="password" placeholder="Enter your password...">
        <div class="actions">
            <button class="login-btn" type="button">LOGIN</button>
            <a class="sign-up" href="#">Don't have an account? <strong>SignIn</strong></a>
        </div>
    </form>
</div>
