@import '../../../../styles/breakpoint';

.title {
    text-align: center;
}

.form {
    margin: 100px auto;
    min-width: 500px;
    
    .form-section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        .input {
            border: none;
            border-bottom: 2px solid black;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }
    }

    .shield {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        .logo-shield {
            margin-bottom: 10px;
            width: 250px;
        }

        .color-select {
            border: none;
            border-bottom: 2px solid black;
            width: 100px;

            &:focus {
                outline: none;
            }
        }
    }
    
    .save-button {
        width: 50%;
    }
}

.players {
    display: flex;
    justify-content: space-around;


    .team {
        display: flex;
        flex-direction: column;

        .list {
            list-style-type: none;
        }
    
        .team-name {
            text-align: center;
            margin-bottom: 50px;
        }
    
        .item {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            
            .input {
                border: none;
                border-bottom: 2px solid black;
                background-color: transparent;
                width: 120px;
        
                &:focus {
                    outline: none;
                }
            }

            .ball {
                cursor: pointer;
                font-size: 25px;
            }

            .position {
                margin-right: 5px;
            }
        }
    }
}

.schedule {
    .header {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    
        .vs {
            width: 90px;
        }
    }

    .form {
        margin: 50px auto;
        min-width: 400px;
        
        .input-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
    
            .input {
                border: none;
                border-bottom: 2px solid black;
                background-color: transparent;
    
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .input {
        border: none;
        border-bottom: 2px solid black;
        background-color: transparent;
        margin-bottom: 70px;
        width: 80%;

        &:focus {
            outline: none;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        width: 90%;

        .btn-action {
            width: 120px;
        }
    }
}

@media (max-width: $medium-tablet) {
    .form {
        min-width: 300px;

        .shield {
            .logo-shield {
                width: 185px;
            }
        }
    }

    .players {
        .team {
            .player_list {
                margin: 10px;
            }
        }
    }
}

@media (max-width: $small-tablet) {

    .schedule {
        .header {
            align-items: center;

            .vs {
                height: 45px;
                width: 60px;
            }
        }

        .form {
            min-width: 320px;
        }
    }


    .players {
        flex-direction: column;
        .team {
            .player_list {
                .item {
                    .input {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-phone) {
    .form {
        min-width: 100px;
        .form-section {
            flex-direction: column;
        }

        .shield {
            .logo-shield {
                width: 120px;
            }
        }
    }

    .players {
        .team {
            .player_list {
                .item {
                    .input {
                        width: 120px;
                    }
                }
            }
        }
    }

    .schedule {
        .header {
            align-items: center;
            flex-direction: column;
            .vs {
                height: 45px;
                width: 60px;
            }
        }

        .form {
            min-width: 200px;
            .input-group {
                flex-direction: column;
            }
        }
    }
}