@import '../../../../styles/breakpoint';
@import '../../../../styles/colors';

.title {
    text-align: center;
    color: white;
}

.form {
    margin: 100px auto;
    min-width: 500px;
    
    .form-section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        .input {
            color: white;
        }
    }

    .shield {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        .logo-shield {
            margin-bottom: 10px;
            width: 250px;
            stroke: #646464;
            stroke-width: 1px;
            filter: drop-shadow(rgba(255,255,255, 0.25) 0px 54px 55px, rgba(255,255,255, 0.12) 0px -12px 30px, rgba(255,255,255, 0.12) 0px 4px 6px, rgba(255,255,255, 0.17) 0px 12px 13px, rgba(255,255,255, 0.09) 0px -3px 5px);
        }

        .color-select {
            border: none;
            border-bottom: 2px solid black;
            width: 100px;

            &:focus {
                outline: none;
            }
        }
    }
    
    .save-button {
        width: 50%;
    }
}

.players {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 50px;

    .match-players {
        border: none;
        background-color: transparent;
        color: white;
        width: 125px;
    }

    .team {
        display: flex;
        flex-direction: column;

        .list {
            list-style-type: none;
        }
    
        .team-name {
            text-align: center;
            margin-bottom: 50px;
        }
    
        .item {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            
            .input {
                border: none;
                border-bottom: 2px solid white;
                background-color: transparent;
                color: white;
                width: 120px;
        
                &:focus {
                    outline: none;
                }
            }

            .ball {
                cursor: pointer;
                font-size: 25px;
            }

            .position {
                margin-right: 5px;
            }
        }
    }
}

.schedule {
    .header {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: white;
        align-items: center;
    
        .vs-pic {
            padding: 10px;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: gray;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        min-width: 400px;
        justify-content: center;
        align-items: center;
        
        .input-group {
            width: 90%;
    
            .input {
                color: white;
            }
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;

    .label {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .player-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 400px;
        overflow-y: scroll;
        
        .input-group {
            width: 80%;
            display: flex;

            .input {
                width: 100%;
            }

            .input-loader {
                width: 30px;
                fill: gray;
                animation: spin 1.5s infinite linear;
            }

            .input-approved {
                width: 30px;
                fill: green;
            }
        }
    

        .result-list {
            list-style-type: none; 
            padding: 0; 
            margin: 0;
            width: 80%;

            .result {
                border: 1px solid white;
                border-radius: 5px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                overflow-x: clip;

                .preview {
                    width: 40px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $grass-field;
                    color: white;
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        width: 90%;

        .btn-action {
            width: 220px;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: $medium-tablet) {
    .form {
        min-width: 300px;

        .shield {
            .logo-shield {
                width: 185px;
            }
        }
    }

    .players {
        .team {
            .player_list {
                margin: 10px;
            }
        }
    }
}

@media (max-width: $small-tablet) {

    .schedule {
        .header {
            align-items: center;
        }

        .form {
            min-width: 320px;
        }
    }


    .players {
        flex-direction: column;
        align-items: center;
        .team {
            .player_list {
                .item {
                    .input {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-phone) {
    .form {
        min-width: 100px;
        .form-section {
            flex-direction: column;
        }

        .shield {
            .logo-shield {
                width: 120px;
            }
        }
    }

    .players {
        .team {
            .player_list {
                .item {
                    .input {
                        width: 120px;
                    }
                }
            }
        }
    }

    .schedule {
        .header {
            align-items: center;
            flex-direction: column;
        }

        .form {
            min-width: 200px;
            .input-group {
                flex-direction: column;
            }
        }
    }
}
