@import '../../../styles/breakpoint';

.header {
    display: flex;
    .logo {
        margin: 10px auto;
        width: 400px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
}

@media (max-width: $small-tablet) {
    .header {
        .logo {
            width: 250px;
        }
    }
    
    .menu {
        width: 80%;
    }
}
