@import '../../styles/spacing';
@import '../../styles/breakpoint';

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: $from-top auto;

    .logo {
        width: 300px;
    }
}

@media (max-width: $medium-phone) {
    .container {
        .logo {
            width: 250px;
        }
    }
}
