
<h3 class="no-matchs" *ngIf="matchs.length === 0">{{noMatchTitle}}</h3>

<app-cotejo-versus [ngClass]="loadedData ? 'show' : 'hide'" class="match" 
                    *ngFor="let match of matchs; let i = index"
                    [home]="match.home_team"
                    [away]="match.away_team"
                    [location]="match.location"
                    [date]="match.date"
                    [id]="match._id"
                    [edit]="true"
                    [delete]="true"
                    (clickMatch)="goToMatch($event)"
                    (editAction)="showModal(match)"
                    (deleteAction)="deleteMatchQuestion($event, i)"
                    >
</app-cotejo-versus>

<ng-container *ngIf="!loadedData">
    <div *ngFor="let skeleton of [1,2,3]" class="match-skeleton">
        <div class="fixture">
        </div>
        <div class="buttons">
            <div class="one"></div>
            <div class="two"></div>
        </div>
    </div>
</ng-container>

<app-cotejo-button class="button create" (click)="create()" 
                    label="Create"
                    type="new">
</app-cotejo-button>
<app-cotejo-button class="button" (click)="return()" 
                    label="Menu" 
                    type="save">
</app-cotejo-button>


<app-cotejo-modal  [size]="modalSize" *ngIf="modal" (actionClose)="closeModal()">
    <div class="header">
        <h2 class="team">{{selectedMatch.home_team.name}} </h2>
        <div class="vs-pic">VS</div>
        <h2 class="team">{{selectedMatch.away_team.name}}</h2>
    </div>

    <form  [formGroup]="matchForm" 
           class="form">

        <mat-form-field class="input-group" color="accent" appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input 
                class="input" 
                matInput 
                formControlName="date" 
                [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-group" appearance="outline" color="accent">
            <mat-label>Location</mat-label>
            <input 
                matInput 
                class="input" 
                type="text" 
                formControlName="location">
        </mat-form-field>
        <br>
        <app-cotejo-button  (click)="saveChanges()"
                            class="save-button" 
                            label="Save" 
                            type="save">
        </app-cotejo-button>
    </form>
</app-cotejo-modal>

<app-cotejo-modal 
    *ngIf="showQuestionModal"
    [size]="modalSize" 
    [close]="true"
    (actionClose)="showHideQuestionModal(false)"
>
    <div class="question">
        <h2 class="text">Are you sure about to delete this match?</h2>
        <app-cotejo-button 
            class="delete"
            label="Delete"
            type="danger"
            (goTo)="deleteMatch()"
            >
        </app-cotejo-button>
        <app-cotejo-button 
            label="Cancel" 
            type="save"
            (goTo)="showHideQuestionModal(false)"
            >
        </app-cotejo-button>
    </div>
</app-cotejo-modal>
