@import '../../../../styles/breakpoint';

:host {
    width: 80%;
}

.no-matchs {
    text-align: center;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;

    .vs {
        width: 90px;
    }
}

.form {
    margin: 50px auto;
    min-width: 400px;
    
    .input-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .input {
            border: none;
            border-bottom: 2px solid black;

            &:focus {
                outline: none;
            }
        }
    }
}

.button {
    display: flex;
}

.create {
    margin-bottom: 15px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    .text {
        text-align: center;
    }

    .delete {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: $small-tablet) {

    .header {
        align-items: center;
        flex-direction: column;

        .vs {
            width: 50px;
        }
    }

    .form {
        min-width: 135px !important;
        .input-group {
            flex-direction: column;
            .input {
                width: 100%;
            }
        }
    }

    .question {
        .text {
            font-size: 20px;
        }

        .delete {
            margin-top: 5px;
        }
    }
}

@media (max-width: $medium-tablet) {
    .button {
        margin: 10px auto;
        width: 80%;
    }
}

@media (max-width: $big-tablet) {
    .header {
        .team {
            font-size: 20px;
        }
    }
    
    .form {
        min-width: 280px;
    }
}
