<app-cotejo-versus class="match" 
                    *ngFor="let match of matchs; let i = index"
                    [home]="match.home_team"
                    [away]="match.away_team"
                    [location]="match.location"
                    [date]="match.date"
                    [id]="match._id"
                    (clickMatch)="goToMatch($event)">
</app-cotejo-versus>  
<app-cotejo-button (click)="return()" 
                    label="Menu" 
                    type="save">
</app-cotejo-button>
