:host {
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    .vs {
        width: 90px;
    }
}

.form {
    margin: 50px auto;
    min-width: 400px;
    
    .input-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .input {
            border: none;
            border-bottom: 2px solid black;

            &:focus {
                outline: none;
            }
        }
    }
}

.create {
    display: flex;
    margin-bottom: 15px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
        text-align: center;
    }

    .delete {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}
