@import '../../../../styles/breakpoint';
@import '../../../../styles/colors';

:host {
    width: 80%;
}

.no-matchs {
    text-align: center;
    margin-bottom: 50px;
}

.add-match {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 50px;

  .add-icon {
    color: $grass-field;
    font-size: 70px;
    cursor: pointer;
  }
}

.match {
  margin-top: 80px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: white;

    .vs-pic {
        padding: 10px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: gray;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.match-skeleton {
    display: flex;
    width: 100%;
    margin-bottom: 30px;

    .fixture {
        width: 90%;
        height: 140px;
        background-color: $skeleton;
        background: $skeleton;
        background: linear-gradient(110deg, $skeleton 8%, #f5f5f5 18%, $skeleton 33%);
        background-color: $skeleton;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
        border-radius: 8px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 10%;

        .one,
        .two {
            margin: 5px auto;
            width: 35px;
            height: 35px;
            background-color: $skeleton;
            border-radius: 8px;
        }
    }
}

.form {
    margin: 50px auto;
    min-width: 400px;

    .input-group {
        width: 100%;
        margin-bottom: 20px;

        .input {
            color: white;
    
            &:focus {
                outline: none;
            }
        }
    }
}

.button {
    display: flex;
    width: 80%;
}

.create {
    margin-bottom: 15px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    color: white;

    .text {
        text-align: center;
    }

    .delete {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@media (max-width: $small-tablet) {

    .header {
        align-items: center;
        flex-direction: column;

        .vs-pic {
            font-size: 15px;
            padding: 5px;
        }   
    }

    .form {
        width: 100%;
        min-width: 135px !important;
        .input-group {
            flex-direction: column;
            .input {
                width: 100%;
            }
        }
    }

    .question {
        .text {
            font-size: 20px;
        }

        .delete {
            margin-top: 5px;
        }
    }
}

@media (max-width: $medium-tablet) {
    
}

@media (max-width: $big-tablet) {
    .header {
        .team {
            font-size: 20px;
        }
    }
    
    .form {
        min-width: 280px;
    }
}
