@import '../../../../styles/breakpoint';
@import '../../../../styles/colors';

:host {
    width: 90%;
}

.fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;

    .field-home, .field-away {
        width: 49%;
    }
}

.form {
    margin: 100px auto;
    min-width: 500px;
    
    .name {
        margin: 10px auto;
        width: 100%;
        
        .input {
            border: none;
            color: white;
        }
    }
    
    .shield {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        .logoShield {
            margin-bottom: 10px;
            width: 250px;
            stroke: #646464;
            stroke-width: 1px;
            filter: drop-shadow(rgba(255,255,255, 0.25) 0px 54px 55px, rgba(255,255,255, 0.12) 0px -12px 30px, rgba(255,255,255, 0.12) 0px 4px 6px, rgba(255,255,255, 0.17) 0px 12px 13px, rgba(255,255,255, 0.09) 0px -3px 5px);
        }

        .color-select {
            border: none;
            border-bottom: 2px solid black;
            width: 100px;

            &:focus {
                outline: none;
            }
        }
    }
    
    .save-button {
        width: 50%;
    }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
  overflow-y: scroll;

  .label {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .player-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 400px;
      
      .input-group {
          width: 80%;
          display: flex;

          .input {
              width: 100%;
          }

          .input-loader {
              width: 30px;
              fill: gray;
              animation: spin 1.5s infinite linear;
          }

          .input-approved {
              width: 30px;
              fill: green;
          }
      }
  

      .result-list {
          list-style-type: none; 
          padding: 0; 
          margin: 0;
          width: 80%;

          .result {
              border: 1px solid white;
              border-radius: 5px;
              padding: 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              overflow-x: clip;

              .preview {
                  width: 40px;
              }

              &:hover {
                  cursor: pointer;
                  background-color: $grass-field;
                  color: white;
              }
          }
      }
  }

  .actions {
      display: flex;
      justify-content: space-between;
      width: 90%;

      .btn-action {
          width: 220px;
      }
  }
}

@media (max-width: $medium-tablet) {
    .form {
        min-width: 90%;
        flex-direction: column;
        .shield {
            .logoShield {
                width: 150px;
            }
        }
    }
}

@media (max-width: $extra-small-tablet) {
    .fields {
        flex-direction: column;

        .field-home, 
        .field-away { 
            align-items: center;
            width: 100%;
        }
    }
}

@media (max-width: $small-tablet) {
    .form {
        .name {
            flex-direction: column;
        }
    }

    .search {

      .player-data {
        height: unset;
        margin-bottom: 5px;
      }

      .actions {
        flex-direction: column;
        width: unset;

        .btn-action {
          width: 100%;
          margin-bottom: 5px;
        }
      }  
    }
}
