<div class="fields">
    <app-cotejo-field class="field-home" 
                      [team]="data?.home" 
                      [teamData]="data?.match?.home_team"
                      (save)="updateTeam($event)"
                      (setTeam)="openModal(data?.match?.home_team)">
    </app-cotejo-field>
    <app-cotejo-field class="field-away" 
                      [team]="data?.away" 
                      [teamData]="data?.match?.away_team"
                      (save)="updateTeam($event)"
                      (setTeam)="openModal(data?.match?.away_team)">
    </app-cotejo-field>
</div>
<app-cotejo-button (click)="return()" 
                    label="Matchs" 
                    type="save">
</app-cotejo-button>

<app-cotejo-modal *ngIf="showModal" (actionClose)="closeModal()">
    <form  [formGroup]="teamForm" 
           class="form">
        <div class="name">
            <label class="label">Team Name</label>
            <input class="input" formControlName="name" type="text" />
        </div>
        <div class="shield">
            <svg class="logoShield" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path #shieldPath d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976z"/>
            </svg>
            <select formControlName="color" 
                    class="color-select">
                <option
                    *ngFor="let color of shieldColors" 
                    [value]="color"
                    >
                    {{ color }}
                </option>
            </select>
        </div>
        <app-cotejo-button  (click)="saveChanges()"
                            class="save-button" 
                            label="Save" 
                            type="save">
        </app-cotejo-button>
    </form>
</app-cotejo-modal>
