<div class="fields">
    <app-cotejo-field class="field-home" 
                      [team]="data?.home" 
                      [teamData]="data?.match?.home_team"
                      (save)="updateTeam($event)">
    </app-cotejo-field>
    <app-cotejo-field class="field-away" 
                      [team]="data?.away" 
                      [teamData]="data?.match?.away_team"
                      (save)="updateTeam($event)">
    </app-cotejo-field>
</div>
<app-cotejo-button (click)="return()" 
                    label="Matchs" 
                    type="save">
</app-cotejo-button>
