$dark-back: #36474F;
$grass-field: #6ABD67;
$regular-dark: #333;
$red-danger: #DE0037;
$create: #3BACEE;
$footer: #0A151E;
$footer-dark: #0A1A2A; 
$skeleton: #E2E4E9;
$black-card: #303030;
$light-card: #424242;
