<form class="form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-form-field class="input-section" appearance="outline" color="accent">
        <mat-label class="mat-label">Name</mat-label>
        <input 
            matInput
            class="input" 
            [ngClass]="{'invalid': signUpForm.controls['name'].errors?.required}" 
            type="text" 
            formControlName="name" 
            placeholder="Enter your Name...">
    </mat-form-field>
    <mat-form-field class="input-section" appearance="outline" color="accent">
        <mat-label class="mat-label">Email</mat-label>
            <input 
                matInput
                class="input" 
                [ngClass]="{'invalid': signUpForm.controls['email'].errors?.email}" 
                type="input" 
                formControlName="email" 
                placeholder="Enter your email...">
    </mat-form-field>
    <mat-form-field class="input-section" appearance="outline" color="accent">
        <mat-label class="mat-label">Nickname</mat-label>
            <input 
                matInput
                class="input" 
                [ngClass]="{'invalid': signUpForm.controls['nickname'].errors?.required}" 
                type="text" 
                formControlName="nickname" 
                placeholder="Enter your Nickname...">
    </mat-form-field>
    <mat-form-field class="input-section" appearance="outline" color="accent">
        <mat-label class="mat-label">Dorsal</mat-label>
            <input 
                matInput
                class="input" 
                [ngClass]="{'invalid': signUpForm.controls['dorsal'].errors?.required}" 
                type="number" 
                formControlName="dorsal" 
                placeholder="Enter your Dorsal number...">
    </mat-form-field>
    <mat-form-field class="input-section" appearance="outline" color="accent">
        <mat-label class="mat-label">Status</mat-label>
            <input 
                matInput
                class="input" 
                [ngClass]="{'invalid': signUpForm.controls['status'].errors?.required}" 
                type="text" 
                formControlName="status" 
                placeholder="Enter your Status...">
    </mat-form-field>
    <mat-form-field class="input-section" appearance="outline" color="accent">
        <mat-label class="mat-label">password</mat-label>
        <input 
            matInput
            class="input" 
            type="password" 
            formControlName="password" 
            placeholder="Enter your password...">
    </mat-form-field>

    <app-alert class="alert" *ngIf="showAlert" 
                [type]="alertType" 
                [message]="alertMessage"
                (closeAction)="close()"
                >
    </app-alert>
    
    <div class="actions">
        <button 
            class="login-btn" 
            mat-raised-button
            type="submit"
            [disabled]="disableSubmit">
            SIGN UP
        </button>
        <a class="sign-up" routerLink="/login">You already have an account? <strong>Login</strong></a>
    </div>
</form>
