@import '../../../styles/colors';
@import '../../../styles/spacing';
@import '../../../styles/borders';
@import '../../../styles/sizes';

.menu {
    background-color: whitesmoke;
    border-radius: $regular-border;
    display: flex;
    margin: $from-top auto;
    width: $menu-page-width;

    .match-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $full;
    }
}