<div class="match-preview">
    <h2 class="team-name">{{teamData.name}}</h2>
    <div class="field" 
        [ngClass]="{
            'triangle': formation.value === 't',
            'square': formation.value === 's',
            'forward': formation.value === 'f'
        }">
        <app-cotejo-player-preview 
            *ngFor="let player of team; let i = index" 
            class="player{{i+1}}" 
            [img]="player.player.image">
            <p class="nickname">{{player.player.nickname}}</p>
        </app-cotejo-player-preview>
    </div>
    <div class="match-settings">
        <div class="action" (click)="emitSetTeam()">
            <img class="icon" src="../../../assets/images/edit.svg" alt="setting">
            Edit Team
        </div>
        <div class="action">
            <img class="icon" src="../../../assets/images/formations.svg" alt="formation">
            <select class="formation-select" [formControl]="formation">
                <option value="" disabled>Formation</option>
                <option value="s">Square</option>
                <option value="t">Triangle</option>
                <option value="f">Forward</option>
            </select>
        </div>
        <div class="action" (click)="putTeam()">
            <img class="icon" src="../../../assets/images/ready.svg" alt="setting">
            Ready
        </div>
    </div>
</div>
