<div class="match-preview">
    <h2 class="team-name">{{teamData.name}}</h2>
    <div class="field" 
        [ngClass]="{
            'triangle': formation.value === 't',
            'square': formation.value === 's',
            'forward': formation.value === 'f'
        }">
        <app-cotejo-player-preview 
            *ngFor="let player of team; let i = index" 
            class="player{{i+1}}"
            [ngClass]="{'selected': player === focusPlayer}"
            [img]="player.player.image"
            (click)="selectPlayer(player, i)">
            <p class="nickname">{{player.player.nickname}}</p>
        </app-cotejo-player-preview>
    </div>
    <div class="match-settings">
        <div class="action" (click)="emitSetTeam()">
            <img class="icon" src="../../../assets/images/edit.svg" alt="setting">
            Edit Team
        </div>
        <div class="action">
            <div class="container">
              <ul class="list">
                <li class="formation" (click)="updateFormation('t')">1-2-1</li>
                <li class="formation" (click)="updateFormation('s')">2-2</li>
                <li class="formation" (click)="updateFormation('f')">1-3</li>
              </ul>
            </div> 
            Formations           
        </div>
        <div class="action" (click)="putTeam()">
            <img class="icon" src="../../../assets/images/ready.svg" alt="setting">
            Ready
        </div>
    </div>
</div>
