@import '../../../styles/colors';

.match-preview {

    display: flex;
    flex-direction: column;

    .team-name {
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    .field {
        background-image: url('../../../assets/images/field.png.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin: 10px auto;
        width: 520px;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        transition: all 300ms;
        margin-bottom: 25px;
    }
    
    .square {
        grid-template-areas:
          "player4 . player5"
          "player2 . player3"
          ". player1 .";
    }
    
    .triangle {
        grid-template-areas:
        ". player5 ."
        "player2 player3 player4"
        ". player1 .";
        .player2, .player4 {
            margin-top: 10px;
        }
        .player3 {
            margin-bottom: 10px;
        }   
    }
    
    .forward {
        grid-template-areas:
            "player3 player4 player5"
            ". player2 ."
            ". player1 .";
    
        .player2, .player4 {
            margin-bottom: 10px;
        }
    }

    
    .player1,
    .player2,
    .player3,
    .player4,
    .player5 {
        background-color: black;
        border-radius: 50px;
        height: 50px;
        margin: auto auto;
        transition: all 300ms;
        width: 50px;
    }
    
    .player1 {
        grid-area: player1;
        margin-bottom: 55px;
    }
    
    .player2 {
        grid-area: player2;
    }
    
    .player3 {
        grid-area: player3;
    }
    
    .player4 {
        grid-area: player4;
    }
    
    .player5 {
        grid-area: player5;
    }

    .player-info {
        display: flex;
        flex-direction: column;
    }

    .selected {
        transform: scale(1.5,1.5);
        box-shadow: rgba(230, 255, 3, 0.19) 0px 10px 20px, rgba(230, 255, 3, 0.19) 0px 6px 6px;
    }

    .nickname {
        margin: 5px;
        text-align: center;
    }

    .match-settings {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .action {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            transition: all 100ms;
            padding: 5px;

            .icon {
                margin-bottom: 5px;
                height: auto;
                width: 70px;
            }
              
              .container {
                border-radius: 5px;
                border: 2px solid black;
                width: 90px;
                height: 70px;
                overflow: scroll;
                overflow-x: hidden;
                display: flex;
                padding: 1px;
                
                
                .list {
                  list-style: none;
                  padding: 0;
                  width: 100%;
                  
                  .formation {
                    margin-bottom: 5px;
                    font-size: 20px;
                    text-align: center;
                    transition: 100ms;

                    &:hover {
                      border-radius: 3px;
                      cursor: pointer;
                      background-color: gray;
                      color: white;
                    }
                  }
                }
              }

            &:hover {
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }
        }
    }
}
