@import '../styles/colors';
@import '../styles/breakpoint';

.app-spacing {
    height: 110vh;
}

@media (max-width: $medium-tablet) {
    .app-spacing {
        height: auto
    }
}

.feedback {
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    background-color: $grass-field;
    border: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
        background-color: white;
        color: $grass-field;
    }
}
