/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import './styles/colors';

body {
    background-color: $dark-back;
    font-family: 'Varela Round';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
