<footer class="footer">
  <div class="top">
    <img class="logo" src="../assets/images/app-logo-regular.png" alt="cotejoAppUI">
    <div class="quote">
      <h2 class="font-style">"{{quote.quote}}"</h2>
      <p class="player">- {{quote.player}}</p>
    </div>
    <div>
      <h2 class="title">CONTACT</h2>
      <div class="social-networks">
        <a class="link" href="https://www.github.com/">
          <img class="logo-contact" src="https://www.kindpng.com/picc/m/255-2558173_github-logo-png-transparent-png.png">
          </a>
        <a class="link" href="https://www.netlify.com/">
          <img class="logo-contact"src="https://www.netlify.com/v3/img/components/logomark-dark.png">
        </a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <small class="copy-right">&copy; 2022 <b>Cotejo App</b> - Version: Beta 0.1.0</small>
  </div>
</footer>
