<footer class="footer">
  <section class="top">
    <img class="logo" src="../assets/images/app-logo-regular.png" alt="cotejoAppUI">
    <div class="quote">
      <h2 class="font-style">"{{quote.quote}}"</h2>
      <p class="player">- {{quote.player}}</p>
    </div>
    <a class="link" href="https://github.com/Andres2D" target="_blank">
      <img class="logo-contact" src="../../../assets/images/Octocat.png" alt="github">
    </a>
  </section>
  <section class="bottom">
    <small class="copy-right">&copy; 2022 <b>Cotejo App</b> - Version: {{environment.appVersion}}</small>
  </section>
</footer>
